
:root{
    --midMauve: #896b79;
    --midBrown:#9e7e6e;
    --lightYellow:#fffcbd;
    --lightGreen:#b8cca4;
    --darkBlue:#0d7676;
    --darkRed:#984a4a;
    --white:antiquewhite;
}

.thumbnail {
    display:inline;
    height: 50px;
    width: 50px;
    padding: 10px;
}

