
:root{
    --midMauve: #896b79;
    --midBrown:#9e7e6e;
    --lightYellow:#fffcbd;
    --lightGreen:#b8cca4;
    --darkBlue:#0d7676;
    --darkRed:#984a4a;
    --white:antiquewhite;
    }    

body{
        background-color: var(--midBrown);
        min-height: 100vh;
        display:flex;
        flex-direction: column;
        
    }




header {
    background-color: var(--darkRed);
    color:antiquewhite;
    
}
h1{
    font-size: 50px;  
}
nav{
    margin-left:60%;
    font-size: 30px;  
    
  }
  .navOb{
    color:var(--white); 
    margin-left: 5px; 
  }

#list {
    background-image:url(../pictures/background-tomato.png) ;
    background-size: 120px;
    justify-content: center;
}
.list-title{
   text-align: center;
    background-color: var(--lightYellow);
}
.list-item{
    background-color: var(--lightGreen);
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding-right:10px;
}
.Btn{
    background: var(--midMauve);
    color:var(--white);
}
#content {
    background-color: var(--lightGreen);
}
.titleTile{
    background-color: var(--lightYellow);
}
.list-title {
    font-size: 40px;
}
.plantImage{
    background-color: var(--midMauve);
}
.plantSpace{
    background-color: var(--lightYellow);
}

footer{
    margin-top:auto; 
    
 }
 .base{
    background-color: #0d7676;
 }